/.idea/
/.gradle/
/build/
/test/
/game-logic/build/
/game-logic/out/
/game-logic/client/out/
/game-logic/client/build/
/game-logic/common/out/
/game-logic/common/build/
/game-logic/server/out/
/game-logic/server/build/
/game-logic/server/src/main/generated/
/editor/build/
/editor/out/
/mongodb-service/build/
/mongodb-service/out/
/common-server-data-model/build/
/common-server-data-model/out/
/common-utils/build/
/common-utils/out/
/engine/build/
/engine/common/build/
/engine/common/out/
/engine/desktop/build/
/engine/desktop/out/
/run/build/
/run/desktop/build/
/run/desktop/out/
/run/editor/build/
/run/editor/out/