/.idea/
/.gradle/
/build/
/core/build/
/core/out/
/test/
gradlew
gradlew.bat
/gradle/wrapper/gradle-wrapper.jar
/core/client/out/
/core/client/build/
/core/common/out/
/core/common/build/
/core/server/out/
/core/server/build/
/editor/build/
/editor/out/