/.idea/
/.gradle/
/build/
/core/build/
/core/out/
/test/
/core/client/out/
/core/client/build/
/core/common/out/
/core/common/build/
/core/server/out/
/core/server/build/
/core/server/src/main/generated/
/editor/build/
/editor/out/
/mongodb-service/build/
/mongodb-service/out/
/common-server-data-model/build/
/common-server-data-model/out/